/* Fonts */
:root {
	--default-font: "Poppins", sans-serif;
	--heading-font: "Poppins", sans-serif;
	--nav-font: "Poppins", sans-serif;
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
	--nav-color: #ffffff; /* The default color of the main navmenu links */
	--nav-hover-color: #a5a5a5; /* Applied to main navmenu links when they are hovered over or active */
	--nav-mobile-background-color: #29261f; /* Used as the background color for mobile navigation menu */
	--nav-dropdown-background-color: #29261f; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
	--nav-dropdown-color: #ffffff; /* Used for navigation links of the dropdown items in the navigation menu. */
	--nav-dropdown-hover-color: #a5a5a5; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Smooth scroll */
:root {
	scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
	font-family: var(--default-font);
}

a {
	color: var(--accent-color);
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	color: color-mix(in srgb, var(--accent-color), transparent 25%);
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--heading-color);
	font-family: var(--heading-font);
}

.neon-title {
	font-size: 2.5rem;
	color: rgb(255, 255, 255); /* Set the core text color */
	text-transform: uppercase;
	letter-spacing: 5px;
	text-shadow: 0 0 2px rgb(255, 255, 255), /* Smaller inner glow */ 0 0 2px rgb(255, 255, 255); /* Outer contained glow */
	letter-spacing: 5px;
}

@media (max-width: 768px) {
	.neon-title {
		font-size: 1.5rem;
	}
}

.neon-title {
	font-size: 2.5rem;
	color: rgb(0, 0, 0); /* Set the core text color */
	text-transform: uppercase;
	letter-spacing: 5px;
}
